{% extends "base.html" %}

{% load static %}

{% block title %}Amis{% endblock title %}

{% block masthead %}
<div class="text-center">
    <h1 class="text-uppercase text-white font-weight-bold">{% block pagetitle %}Amis{% endblock pagetitle %}</h1>
    <hr class="divider my-4" />
</div>
<table class="table table-dark">
    <thead>
        <tr>
            <th class="w-50" scope="col">Nom</th>
            <th class="w-50" scope="col">Supprimer</th>
        </tr>
    </thead>
    <tbody>
        {% for relationship in friends %}
        <tr>
            <td>{{ relationship.friend.username }}</td>
            <td><a href="{% url "accounts:delete-friend" relationship.friend %}"><button class="btn btn-danger"><i class="fas fa-trash"></i></button></a></td>
        {% endfor %}
    </tbody>
</table>
{% if is_paginated %}
    {% include "_pagination.html" %}
{% endif %}

<form id="search_form" class="search-form text-white" action="" method="post">
    {% csrf_token %}
    {{ form.as_p}}
    {{ form.media }}
    <button class="btn btn-success" id="add-friend-button">Ajouter</button>
</form>
{% endblock masthead %}
