{% extends "base.html" %}

{% block title %}Login{% endblock title %}

{% block masthead %}
     <form class="login-form text-white" action="" method="post">
    {% csrf_token %}
    {{ form.as_p }}
    {{ form.media }}
        <div class="row justify-content-center">
        <button id="login-button" type="submit">Connexion</button>
    </div>
     <div><a id="subscription" href="{% url "accounts:subscription" %}">S'inscrire</a></div>
     <div><a id="forgot_password" href="{% url "accounts:check_mail" %}">Mot de passe oublié</a></div>
 </form>
{% endblock masthead %}
